/*
HELPERS
 */

.to-right{
  float: right;
}

// link no style

a.no-style{
  text-decoration: none;
}

.bg-gray{
  background: #f6f6f6
}

.md-datepicker-calendar{
  background-color: #fff;
}

i.lg-icon{
    font-size: 26px;
}
.block .md-label{
    width: 100%!important;
}

.mg-bottom-30{
    margin-bottom: 20px;
}
.pd-0-16{
    padding: 0 16px;
}
