<md-toolbar layout="row" layout-align="center center" class="todo-toolbar pd-0-16">

  <!-- <md-button ng-click="todo.toggleLeft()" class="md-icon-button show-sm" show-sm>
    <i class="ion ion-navicon-round"></i>
  </md-button> -->

  <img src="assets/images/logo-toolbar.png" width="53" alt="GDG Foz do Iguaçu" class="toolbar-logo" />

  <section flex layout="row" layout-align="center center">
    {{title}}
    <span flex="20"></span>
    <a flex="20" href="#" class="no-style white">Posts</a>
    <a flex="20" href="#" class="no-style white">Categorias</a>
    <span flex></span>
  </section>

</md-toolbar>
